<div class="login">
    <div class="login_container">
        <div class="login_form">
            <h1>Log in</h1>
            <form action="">
                <h5>Email</h5>
                <input type="email">
                <h5>Senha</h5>
                <input type="password">
                <button class="logar_button" (click)="logar('iuri@iuri.com.br', '1234')">Logar</button>
                <p class="login_terms">Ao continuar, você concorda com as Condições de Uso do E-commerce.</p>
                <button class="criar_conta">Criar sua conta E-commerce</button>
            </form>
        </div>
    </div>
</div>